<!DOCTYPE html>

<html>
  <head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


	 <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	 <link href='/stylesheets/remodal.css'>
	 <link rel="stylesheet" href="/stylesheets/remodal-default-theme.css">
	 <script type="text/javascript" src="/javascript/jquery.min.js" ></script>
	 <script type="text/javascript" src="/javascript/bootstrap.js" ></script>
	 <script type="text/javascript" src="/javascript/remodal.min.js"></script>

	 <style>
	 	.container {
			margin: 30px auto;
			width: 85%;
			background-color: #eee;
		}

		.table {
			background-color: rgb(255,255,255);
		}

		tr {
			background-color: rgb(255,255,255);
			
		}

		.navbar {
			background-color: #eee;
		}

	 </style>

  </head>
  <body>
	  <nav class="navbar">
		  <a href="#" class="navbar-brand">MyOJ</a>
		  <ul class="nav navbar-nav">
			  <li class="nav-item active">
				  <a class="nav-link" href="/problemset?page=1">Problem<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/status">Status</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/contest">Contest</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/admin">Admin</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/user/profile"><%= username %></a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/user/logout">Logout</a>
			  </li>
		  </ul>
	  </nav>

	  <div class="container">
	  	<h1><%= fileName %></h1>
	  	<form method='POST' action='/admin/sample/update'>
			<textarea name='data'><%=text%></textarea>
			<input type='hidden' name='problemId' value='<%= problemId %>' />
			<input type='hidden' name='fileName' value='<%= fileName %>' />
			<input type='submit' value='Submit' class='btn btn-primary' />
		</form>
	  </div>

		
  </body>
</html>
