<!DOCTYPE html>

<html>
  <head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


	 <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	 <script type="text/javascript" src="/javascript/jquery.min.js" ></script>
	 <script type="text/javascript" src="/javascript/bootstrap.js" ></script>

	 <style>
	 	.container {
			margin: 30px auto;
			width: 85%;
			background-color: #eee;
		}

		.table {
			background-color: rgb(255,255,255);
		}

		tr {
			background-color: rgb(255,255,255);
			
		}

		.navbar {
			background-color: #eee;
		}

	 </style>

  </head>
  <body>
		<nav class="navbar">
			<a href="#" class="navbar-brand">MyOJ</a>
			<ul class="nav navbar-nav">
			  <li class="nav-item active">
				 <a class="nav-link" href="/problemset?page=1">Problem<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" href="/status">Status</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" href="/contest">Contest</a>
			  </li>
				  <li class="nav-item">
					 <a class="nav-link" href="/admin">Admin</a>
				  </li>
			  <li class="nav-item">
			  		<a class="nav-link" href="/user/profile"><%= username %></a>
			  </li>
			  <li class="nav-item">
			  		<a class="nav-link" href="/user/logout">Logout</a>
			  </li>
			</ul>
	   </nav>


		<div class="container">
			  <ul id="id-pagination" class="pagination">
					<% for (var i = 1; (i - 1) * 50 < problemNum; ++i) { %>
						<li id="id-page-<%= i %>"><a class="page-link" href="/problemset?page=<%= i %>" ><%= i %></a></li>
					<% } %>
			  </ul>

			  <br />
			  <a href="/admin/problem/edit" target='_blank' role="button" class="btn btn-primary">Add Problem</a>
			  <br />
			  <br />
				
 			  <table class="table table-striped table-bordered">
					<thead>
						<th class="col-md-1">ID</th>
						<th>标题</th>
						<th>操作</th>

					</thead>
					<tbody>
					<% for(var i = 0; i < problems.length; ++i) {%>
							<tr>
								<td><%= problems[i]._id %></td>
								<td>
									<a href="admin/problem/edit?problemId=<%= problems[i]._id %>" target='_blank' ><%= problems[i].title %></a>
								</td>
								<td>
									<a href='admin/problem/edit?problemId=<%= problems[i]._id %>' target='_blank' role='button' class='btn btn-primary'>编辑</a>
									<a href='admin/problem/delete?problemId=<%= problems[i]._id %>' role='button' class='btn btn-primary'>删除</a>
									<a href='admin/samplelist/?problemId=<%= problems[i]._id %>' role='button' class='btn btn-primary'>添加数据</a>
								</td>
							</tr>
					<% } %>
					</tbody>
			  </table>
	  	</div>


		<!-- custom script -->
		<script>
				var reg = new RegExp("(^|&)page=([^&]*)(&|$)");
				var pageNum = window.location.search.substr(1).match(reg);
				$("#id-page-" + pageNum[2]).attr("class", "active");
		</script>
		
  </body>
</html>
