<!DOCTYPE html>

<html>
  <head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


	 <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	 <script type="text/javascript" src="/javascript/jquery.min.js" ></script>
	 <script type="text/javascript" src="/javascript/bootstrap.js" ></script>

	 <style>
	 	.container {
			margin: 30px auto;
			width: 85%;
			background-color: #eee;
		}

		.table {
			background-color: rgb(255,255,255);
		}

		tr {
			background-color: rgb(255,255,255);
			
		}

		.navbar {
			background-color: #eee;
		}

	 </style>

  </head>
  <body>
		<nav class="navbar">
			<a href="#" class="navbar-brand">MyOJ</a>
			<ul class="nav navbar-nav">
			  <li class="nav-item active">
				 <a class="nav-link" href="/problemset?page=1">Problem<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" href="/status">Status</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" href="/contest">Contest</a>
			  </li>
				  <li class="nav-item">
					 <a class="nav-link" href="/admin">Admin</a>
				  </li>
			  <li class="nav-item">
			  		<a class="nav-link" href="/user/profile"><%= username %></a>
			  </li>
			  <li class="nav-item">
			  		<a class="nav-link" href="/user/logout">Logout</a>
			  </li>
			</ul>
	   </nav>


		<script>
			function getParam(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
			　　if (r != null) {
					return unescape(r[2]);
			　　}
			　　return null;
			}
		</script>
		<div class="container">
			<h1><%= title %></h1>

			<% if (title === '编辑题目') {%>
			<form class='form-group' method='POST' action='/admin/problem/update'>
				<input id='problemId' type='hidden' name='problemId' />
				<script>
					$('#problemId').val(getParam('problemId'));
				</script>
			<%}%>
			<% if (title === '添加题目') {%>
			<form method='POST' class='form-group' action='/admin/problem/add'>
			<%}%>
				<label>title</label>
				<input name='title' type='text' value='<%= details.title %>' />

				<label>time limit</label>
				<input name='timeLimit' type='text' value='<%= details.timeLimit %>' />
				<label>s</label>

				<label>memory limit</label>
				<input name='memLimit' type='text' value='<%= details.memoryLimit %>' />
				<label>MB<label>

				<label>isHidden</label>
				<input name='isHidden' type='checkbox' value='<%= details.isHidden %>' />

				<h2>Description</h2>
				<textarea name='description'><%= details.description %></textarea>

				<h2>Input</h2>
				<textarea name='input'><%= details.input %></textarea>

				<h2>Output</h2>
				<textarea name='output'><%= details.output %></textarea>

				<h2>Sample Input</h2>
				<textarea name='sampleInput'><%= details.sampleInput %></textarea>

				<h2>Sample Output</h2>
				<textarea name='sampleOutput'><%= details.sampleOutput %></textarea>

				<input type='submit' value='submit' />
				<input type='button' value='back' onclick='location.href="../"' />
			</form>




		</div>
		
  </body>
</html>
