<!DOCTYPE html>

<html>
  <head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


	 <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	 <link href='/stylesheets/remodal.css'>
	 <link rel="stylesheet" href="/stylesheets/remodal-default-theme.css">
	 <link rel="stylesheet" media="all" type="text/css" href="/stylesheets/fileinput.min.css" />
	 <script type="text/javascript" src="/javascript/jquery.min.js" ></script>
	 <script type="text/javascript" src="/javascript/bootstrap.js" ></script>
	 <script type="text/javascript" src="/javascript/remodal.min.js"></script>
	 <script type="text/javascript" src="/javascript/fileinput.min.js"></script>
	 <script type="text/javascript" src="/javascript/canvas-to-blob.min.js" ></script>


	 <style>
	 	.container {
			margin: 30px auto;
			width: 85%;
			background-color: #eee;
		}

		.table {
			background-color: rgb(255,255,255);
		}

		tr {
			background-color: rgb(255,255,255);
			
		}

		.navbar {
			background-color: #eee;
		}

	 </style>

  </head>
  <body>
	  <nav class="navbar">
		  <a href="#" class="navbar-brand">MyOJ</a>
		  <ul class="nav navbar-nav">
			  <li class="nav-item active">
				  <a class="nav-link" href="/problemset?page=1">Problem<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/status">Status</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/contest">Contest</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/admin">Admin</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/user/profile"><%= username %></a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/user/logout">Logout</a>
			  </li>
		  </ul>
	  </nav>

	  <p>每个文件的扩展名必须是in和out,文件名的一样是对应的输入文件和标准输出文件</p>

	  <div class='remodal' data-remodal-id='remodal'>
	  	<textarea id='data-container'>
		</textarea>

		<button class='remodal-confirm'>Submit</button>
		<button class='remodal-cancel' data-remodal-action='remodal-cancel'>Cancel</button>

		<script>
			function postData() {
				$.post('#', $('#data-container').text, function() {
				});	
			}
		</script>
	  </div>



	  <div class="container">
	  	  <label class="control-label">Add File</label>
		  <input type="file" class="file" name="file" id="add-file" multiple >

		  <table class="table table-striped table-bordered">
		  	<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
			<%for(var i = 0; i < file.length; ++i) {%>
				<tr>
					<td>
						<a id='name<%= i %>' href='#' filename='<%= file[i] %>' onclick='getFile()'><%= file[i] %></a>
					</td>
					<td>
						<a id='edit<%= i %>' href='#' role='button' class='btn btn-primary' filename='<%= file[i] %>'>edit</a>
						<a id='delete<%= i %>' href='#' role='button' class='btn btn-primary'>delete</a>

					  <script>
						$('#delete<%= i %>').attr('href', '/admin/sample/delete' + location.search + '&fileName=<%= file[i] %>');
						$('#edit<%= i %>').attr('href', '/admin/sample' + location.search + '&fileName=<%= file[i] %>');
						$('#name<%= i %>').attr('href', '/admin/sample' + location.search + '&fileName=<%= file[i] %>');
					  </script>
					</td>
				</tr>
			<%}%>
			</tbody>
		</table>
	  </div>

	  <script>
	  	$("#add-file").fileinput({ 
			showCaption: false ,
			previewFileType: "text",
			allowedFileExtensions: ['in', 'out'],
			allowedPreviewTypes: ['in', 'out'],
			uploadAsync: true,
			uploadUrl: '/admin/sample/add' + location.search,
		})
		.on('fileuploaded', function(event) {
			location.reload();
		});

	  </script>

		
  </body>
</html>
